In [1]:
#import needed packages
import pandas as pd

import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv("ArticalData.csv")

In [3]:
Time = df["Date"]

In [4]:
df = df.fillna("None")

In [5]:
Sources = df["Source"]

In [6]:
#create Dummy values for Source and Newsdesk attributes
DummySources = pd.get_dummies(Sources, columns=['Source'])
DummyNewsDesk = pd.get_dummies(df["News Desk"], columns=['News Desk'])

In [7]:
#create Dummy values for Artical Subjects and Artical Key Words

In [8]:
count = CountVectorizer(binary = False)
bow = count.fit_transform(df['Subjects'].values)

DummySubjects = pd.DataFrame(bow.toarray(), columns = count.get_feature_names())

In [9]:
count = CountVectorizer(binary = True)
bow = count.fit_transform(df['KeyWords'].values)

DummyKeyWords = pd.DataFrame(bow.toarray(), columns = count.get_feature_names())

Loops to iterate through the columns to only keep Dummy values that meet a minimum number of instances with in the data set.

this is set to 50 in this case

In [10]:
temp = []
for (columnName, columnData) in DummyKeyWords.iteritems():
    sums = DummyKeyWords[columnName].sum()
    if(sums > 50):
        temp.append(columnName)

In [11]:
temp2 = []
for (columnName, columnData) in DummySubjects.iteritems():
    sums = DummySubjects[columnName].sum()
    if(sums > 50):
        temp2.append(columnName)

Make new data frames that only references the columns selected from the above loops

In [12]:
DummyKeyWords1 = DummyKeyWords[temp]

In [13]:
DummySubjects1 = DummySubjects[temp2]

merge data frames

In [14]:
DummyVariables = pd.concat([ Time ,DummySources, DummyNewsDesk, DummySubjects1,DummyKeyWords1], axis=1, sort=False)

In [15]:
#save data frame
DummyVariables.to_csv('DummyVariables.csv')

In [16]:
DummyVariables

,Date,International Herald Tribune,International New York Times,The New York Times,Arts&Leisure,BookReview,Books,Business,Culture,EdLife,...,video,way,web,work,workers,working,world,year,years,york
0,2010-06-14T08:12:16+0000,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2010-06-28T04:53:14+0000,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
2,2010-06-07T13:52:20+0000,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2010-07-01T05:16:20+0000,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2010-06-07T19:41:26+0000,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123,2020-06-12T22:18:18+0000,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,1,0,0,0,1
1124,2020-06-11T17:18:44+0000,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1125,2020-06-15T14:12:41+0000,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
1126,2020-06-24T16:44:50+0000,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1127,2020-06-22T16:57:08+0000,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0